*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
}
#recommended_cover{
    padding-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#card_wrap{
    margin-bottom: 10%;
    width: 18%;
    border-radius: 18px;
    background-color:rgba(26, 26, 26, 0.481);
    box-shadow: 1px 2px rgba(216, 216, 216, 0.122);

}
#card_wrap:hover{
    opacity: 0.7;
}
#info{
display: flex;
flex-direction: column;
text-align:center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}
img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
header{
    background-color:rgba(216, 216, 216, 0.122); ;
display: flex;
font-family: monospace;
height: 80px;
justify-content: space-between;
width: 100%;
}
header h1{
    color: blue;
    font-family: monospace;
padding: 20px;
}
header span{
    color: white;
}
#pages{
    display: flex;
    padding: 25px;
}
#pages ul{
    display: flex;

}
#pages ul li{
    list-style-type: none;
    padding-left: 15px;

    
}
#pages a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pages a:hover{
    opacity: 0.4;
}